{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "overrides": [
      {
        "files": ["*.js", "*.jsx"],
        "parser": "espree",
        "parserOptions": {
          "ecmaVersion": 2021,
          "sourceType": "module"
        }
      }
    ]
  }
  