$primaryColor: var(--primary-main);
$secondaryColor: var(--secondary-main);
$bodyColor: var(--common-black);

// Other global styles
body {
  // color: $secondaryColor;
}

input:focus {
  outline: none !important;
  border: var(--primary-main) 1px solid;
}

textarea:focus {
  outline: none !important;
  border: var(--primary-main) 1px solid;
}